<?xml version="1.0" encoding="UTF-8"?>
 
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
           id="com.larachao.plugins"
      version="0.0.1">
    <name>nexpreferences</name>
    <description>Sample PhoneGap Share Preferences Plugin</description>
    <license>MIT</license>
    <keywords>phonegap,preferences,android</keywords>
 
 
    <js-module src="www/nexpreferences.js" name="nexpreferences">
        <clobbers target="nexpreferences" />
    </js-module>
 
    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="nexpreferences">
                <param name="android-package" value="com.larachao.plugins.nexpreferences"/>
            </feature>
        </config-file>
 
         <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <activity android:name=".MAIN"
                  android:label="@string/app_name"
                  android:screenOrientation="sensorLandscape"
                  android:hardwareAccelerated="true"
        >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.HOME" />
            </intent-filter>
        </activity>
        </config-file> 

        <source-file src="src/android/nexpreferences.java" target-dir="src/com/larachao/plugins" />      
     </platform>          
</plugin>